body {
    background: #3b6ea7;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    cursor: default;

}

#desktop {
-webkit-column-count: 2; */
    -moz-column-count: 2;
    column-count: 1;
    height: 100%;
    width: 200px;
    flex-flow: column;
}

.desktop-icon-link {
}

.desktop-links {
    display: block;
}

/*butttons*/

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.close {
    display: none;
}

.open {
    display: inline;
}

.hide {
    position: absolute;
    top: 400px;
}



/*start*/

.start-button {
    position: fixed;
    bottom:5px;
    left:5px;
    height: 40px;
    background-color: #c0c0c0;
    border: 2px solid black;
    border-top-color: white;
    border-left-color:white;
}

.start-button:active {
    border: 2px solid white;
    border-top-color: black;
    border-left-color:black;
}

.start-button img {
    height: 100%;
    width: auto;
    vertical-align: middle;
}

.start-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #c0c0c0;
    border-top: 1px solid #c0c0c0;
    z-index: 6;
}

.right-side-start{
    position: fixed;
    bottom:5px;
    right:5px;
    height: 40px;
    background-color: #c0c0c0;
    border: 2px solid white;
    border-top-color: black;
    border-left-color: black;
}

.right-side-start img {
    height: 100%;
    width: auto;
    vertical-align: middle;
}

.error {
    color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


#start-menu {
    position: fixed;
    bottom:50px;
    left:0;
    background-color: #c0c0c0;
    border: 2px solid black;
    border-top-color: white;
    border-left-color:white;
    z-index:6;
}

#start-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#start-menu ul li {
    display: block;
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
    height:50px;
}

#start-menu ul li:hover {
    background-color: #555;
    color: white;

}

#start-menu ul li img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

#start-menu .extendable-content img {
    height: 40px;
    width: auto;
    vertical-align: middle;
}

#start-menu .extendable-content p {
    height: 5px;
    width: auto;
    vertical-align: middle;
}

#start {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 6;
    position: fixed;
    top:0;
}

.extendable-hover:hover .extendable-menu-1{
    display:block;
}

.extendable-menu-1 {
    display: none;
    position: absolute;
    z-index: 1;
    width:250px;
    right: -250px;
    top: -2px;
    background-color: #c0c0c0;
    border: 2px solid black;
    border-top-color: white;
    border-left-color:white;
}

.extendable-hover:hover .extendable-menu-MyComputer{
    display:block;
}

.extendable-menu-MyComputer {
    display: none;
    position: absolute;
    z-index: 1;
    width:250px;
    right: -250px;
    top: 80px;
    background-color: #c0c0c0;
    border: 2px solid black;
    border-top-color: white;
    border-left-color:white;
}

.extendable-menu-MyComputer  .right-arrow {
    padding: 0 !important;
}

.extendable-menu-1-hover:hover .extendable-menu-2{
    display:block;
}


.extendable-content-MyDocuments {
    display: none;
    position: absolute;
    z-index: 1;
    width:250px;
    right: -250px;
    top: -2px;
    background-color: #c0c0c0;
    border: 2px solid black;
    border-top-color: white;
    border-left-color:white;
}

.extendable-hover-MyDocuments:hover .extendable-content-MyDocuments{
    display:block;
}

.extendable-content a {
    display: block;
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
}

.extendable-content a:hover {
    background-color: #555;
    color: white;
    cursor: default;
}

span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 10px ;
  filter: blur(.5px);
}

.right-arrow {
    float: right;
    padding: 16px;
}

/*windows*/

.desktop-icon-link {
    display: block;
    width: 134px;
}

.windows-box {
    border: 2px solid #c0c0c0;
    position: absolute;
}

.windows-box .title-bar {
    position: absolute;
    height: 20px;
    top: -24px;
    left: -2px;
    border: 2px solid #c0c0c0;
    background: #0300c3;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.title-bar .title-icon {
    height: 18px;
    max-height: 100%;
    margin: 0 .25rem;
}

.title-bar .window-buttons {
    height: 18px;
    position: absolute;
    right: 5px;
}

.windows-box.spotify {
    width: 300px;
    height: 380px;
    top: 50px;
    left: 142px;
}

#apple-window {
    width: 300px;
    height: 110px;
    top: 540px;
    left: 560px;
}

.windows-box.petition {
    width: 927px;
    height: 450px;
    top: 24px;
    left: 464px;
    border: none;
}

.skin {
    position: absolute;
    content: '';
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background: #c1bfc2;
}

#ie-window {
    position: absolute;
    top: 19px;
    left: 420px;
    overflow: hidden;
    width:800px;
    height:576px;
}

.ie-container {
    display: block;
    position: absolute;
    top: 114px;
    width: 100%;
    overflow-y: hidden;
    overflow-x:scroll;
    height: 494px;
}

#mail-window {
    position: absolute;
    top: 55px;
    left: 190px;
    overflow: hidden;
    width:480px;
    height:321px;
}

.mail-container {
    display: block;
    position: absolute;
    top: 99px;
    width: 99.5%;
    overflow-y: hidden;
    overflow-x:scroll;
    height: 494px;
    background-color: white;
}

.contact {
    color: #aaa;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    }

#solitaire-window {
    position: absolute;
    top: 60px;
    left: 460px;
    width:800px;
    height:576px;
}

#notepad-window-1 {
    position: absolute;
    top: 80px;
    left: 480px;
    width:300px;
    height:500px;
    background-color: white;
}

#notepad-window-2 {
    position: absolute;
    top: 100px;
    left: 500px;
    width:300px;
    height:500px;
    background-color: white;
}

#notepad-window-3 {
    position: absolute;
    top: 120px;
    left: 520px;
    width:300px;
    height:500px;
    background-color: white;
}

#notepad-window-4 {
    position: absolute;
    top: 140px;
    left: 540px;
    width:300px;
    height:500px;
    background-color: white;
}

#notepad-window-5 {
    position: absolute;
    top: 160px;
    left: 560px;
    width:300px;
    height:500px;
    background-color: white;
}

.notepad {
    position: absolute;
}

.lyrics {
    color: black;
    position: absolute;
    display: block;
    height: 95%;
    overflow-y: scroll;
}

.iframe {
    position: relative;
    width: 100%;
    height: 100%;
    padding: -2px;
}

.insides {
    display: block;
    position: absolute;
    bottom: 15px;
    width: 100%;
    overflow: hidden;
}

.exit {
    position: absolute;
    top:0;
    right:0;
    width: 20px;
    height: 20px;
}

.dragme {
    position:absolute;
    height:100%;
    width: 100%;
}




/* load screen */

#loading-video {
    position: fixed;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    left: 0;
    /* margin: auto; */
    height: 100%;
    width: 100%;
    z-index: 100;
    background: black;
}

#loading img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    z-index: 90;
}

.video_contain {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

@media screen and (max-width: 600px) {
    body{
        overflow: auto;
    }
    .close {
        display:;
    }
    #desktop {
            width: 100vw;
    }

    .desktop-icon-link {
    display: inline-block;
    width: 18%;
}

    #ie-window{
        top: 150px;
        left:0px;
        width: 100vw;
        height: auto;
    } 
    #ie-window img {
        width: 100vw;
    }

    .ie-container {
        display: block;
        position: absolute;
        top: 21%;
        width: 200%;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    #ie-window iframe {
        position: relative;
        width: 100%;
        height: 125% !important;
          -moz-transform: scale(0.5, 0.5); 
          -webkit-transform: scale(0.5, 0.5); 
          -o-transform: scale(0.5, 0.5);
          -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5); 
          -moz-transform-origin: top left;
          -webkit-transform-origin: top left;
          -o-transform-origin: top left;
          -ms-transform-origin: top left;
          transform-origin: top left;
        }

    #apple-window {
        display: block;
        width: 100vw;
        height: 110px;
        left: 0px;
        top: 700px;
    }

    #spotify-window {
        display: block;
        width: 100vw;
        height: 110px;
        left: 0px;
        top: 890px;
    }


    .notepad {
    position: relative !important;
    display: inline-block !important;
    width: 30% !important;
    top: 1010px !important;
    left: 15px !important;
    margin: auto;
    }

    #mail-window {
        display: block;
        width: 100vw;
        left: 0px;
        top: 2303px;
    }

    #mail-window img{
        width: 100vw;
        background-color: white;
    }

    #solitaire-window{
        display: block;
        width: 99vw;
        left: 0px;
        top: 2703px;
    }


}
